/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-feb-2020, 18:10:56
    Author     : Alex
*/

a .article{
    color: #000;
}
#articlesList{
    width: 250px;
    text-align: left;
    float: right;
    background: #BBB;
    position: absolute;
    right: 0;
    z-index: 10;
}
#articlesList a{
    width: 100%;
    padding: 5px 10px;
    color: white;
    text-align: left;
    font-size: 18px;
    display: block;
}
#articlesList a:hover{
    color: #000;
    background: white;
}
.article{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    background: rgba(220,220,220,0.7);
    height: 240px;
    transition: 0.15s ease;
    margin-top: 15px;
    opacity: 0.9;
    min-width: 750px;
}
.article:hover{
    cursor:pointer;
    box-shadow: 12px 13px 36px -13px rgba(0,0,0,0.75);
    transform: scale(1.001);
    opacity: 1;
}

.article .image img{
    height: 240px;
    width: 400px;
    max-width:400px;
    max-height: 240px;
}
.article .text{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
.article .text .title{
    margin: 0 10px;
    font-size: 2rem;
    width: 100%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100px;
}
.article .text .description{
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 130px;
    width: 100%;
    padding: 10px;
}
.article .text .description p{
    margin: 10px 15px;
}
.readMore{
    width: 120px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.readMore p{
    color: red;
}
.readMore p:after{
    content: "...";
}
.errores{
    background: rgba(240,200,200,0.7);
    color: red;
    padding: 10px;
    margin: 5px;
}
/*PARA LA VISTA DE ARTICULO INDIVIDUAL*/
.map{
    background: rgba(220,220,220,0.3);
    padding: 3px 20px;
}
.map a{
    color: #000;
    text-align: left;
}
.article1{}
.title1{
    font-size: 26px;
    margin: 10px auto;
}
.article1 .text1 img{
    width: 500px;margin: 0 10px 5px 0;
}
.description1 *{float: left;}
.text1 {
    display: inline-block;
}
.data{
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-around;
}

@media all and (min-width: 720px) {
    .article .text .title{
        font-size: 1.6rem;
    }
}