body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}
li{
    list-style:none;
}
a, a:hover, a:active, a:visited{
    text-decoration: none;
}
::selection {
    background-color: #3A3140;
    color: white;
}
.imagenFondo{
    background: linear-gradient(to top, #ffffff 5%, #3a3140 35%);
    position: absolute;
    top: 0;right: 0;left: 0;
    z-index: -1;
}
.imagenFondo img{
    opacity:0.7;
    width: 100%;
    filter:contrast(80%) brightness(90%);
    min-height: 450px;
    margin: auto;
}
.container{
    width: 90%;
    margin: auto;
}
/*--Menú--*/
nav{
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-around ;
    width: 60%;
    margin: 50px auto;
    font-family: Montserrat, sans-serif;
    color: white;
    text-transform: uppercase;
}
nav li{      
    color: #DDD;
    text-align: center;
    list-style:none;
    border-bottom: 3px solid transparent;
    transition: 0.15s ease;
    padding: 1px 5px;
}
nav li:hover{
    border-bottom: 3px solid #8D183B;
    cursor: pointer;
    color: white;
}
/*--Títulos--*/
.title{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    margin: 80px auto 120px;
    width: 50%;
    text-align: center;
}
.title h1{
    margin: auto;
    color: #FFF;
    font-size: 5rem;
    font-family: Lora, serif;
    font-weight: normal;
}
.title h2{
    margin: auto;
    color: #8D183B;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 12px;
}.title h5{
    margin: 30px auto;
    color: #FFF;
    font-family: Raleway;
    font-weight: normal;
    font-style: italic;
}
/*--Contenido--*/
.content{  
    margin-top: 10vh;}
.content p{
    margin: 20px auto;
    width: 60%;
    color: #3A3140;
}
.content .capitalice:first-child::first-letter {
    text-transform: uppercase;
    float: left;
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

/*--Imagen + comentario--*/
.image-comment{
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    width: 70%;
    margin: auto;
}
.image-comment img{
    width: 70%;
    max-width: 500px;
}
.image-comment .comment{
    margin-left: 20px;
    color: #3A3140;
    font-size: 14px;
    font-style: italic;
    border-top: 2px solid #8D183B;
    padding-top: 10px;
}
/*--Cita--*/
.cite{
    margin: 0;
    font-size: 1.1rem;
    font-style: italic;
}
.cite p{
    padding: 20px;
    border-left: 3px solid #8D183B;
    background: rgba(255,247,247,1);
}
/*--Video--*/
video{
    padding: 10px 0;
    display: inline-block;
    width: 60%;
    max-width:340px;
    float:right;
    position: relative;
    left: 30px;
}
/*--Formulario--*/
fieldset{
    width: 70%;
    margin: 0px auto 20px;
}
fieldset *{
    display: block;
}
fieldset label{
    margin: 12px 0px 0px;
}
fieldset input{
    width: 75%;
    padding: 2px 5px 2px;
    border: 0px;
    border-bottom: 1px solid #8D183B;
    transition:0.15s ease;
}
fieldset textArea{
    width: 75%;
    height: 70px;
    border:0px;
    border-bottom: 1px solid #8D183B;
}
fieldset input[type="submit"]{
    margin: 20px 0 0;
    border: 0;
    font-size: 1.1rem;
    padding: 4px;
}
fieldset input[type="submit"]:hover{
    background: rgba(240,200,200,0.5);
    border-radius: 5px;
}
/*--Footer--*/
.footer{
    background: linear-gradient(to bottom, #ffffff 0%, #3a3140 85%);
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow:column nowrap;
    justify-content: space-between;
    padding: 15px;
}
.footer .footer-bottom{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    font-family: Montserrat, sans-serif;
    color: white;
    font-size: 14px;
    color: #DDD;
}
.footer .footer-bottom .footer-bottom-right{
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-between;
}
.footer .footer-bottom .footer-bottom-right li{
    text-align: center;
    list-style:none;
    border-bottom: 3px solid transparent;
    transition: 0.15s ease;
    padding: 1px 10px;
    text-transform: uppercase;
}
.footer .footer-bottom .footer-bottom-right li:hover{
    border-bottom: 3px solid #8D183B;
    cursor: pointer;
    color: white;
}

@media all and (min-width: 440px) {
    .content p{
        width: 90%;
    }
    .image-comment{
        width: 90%;
    }
}
@media all and (min-width: 720px) {
    .content p{
        width: 80%;
    }
    .image-comment{
        width: 90%;
    }
}